@font-face {
  font-family: 'Radiate Sans';
  src: url(./assets/fonts/Radiate\ Sans\ Regular.ttf);
}

@font-face {
  font-family: 'Radiate Sans';
  font-weight: bold;
  src: url(./assets//fonts/Radiate\ Sans\ Bold.ttf);
}

@font-face {
  font-family: 'Radiate Sans';
  font-weight: lighter;
  src: url(./assets/fonts/Radiate\ Sans\ Light.ttf);
}

@font-face {
  font-family: 'Radiate Sans';
  font-weight: lighter;
  font-style: italic;
  src: url(./assets/fonts/Radiate\ Sans\ Light\ Italic.ttf);
}

html,
body {
  font-family: 'Radiate Sans', Arial, Helvetica, sans-serif;
}

nav a {
  color: grey;
}

nav a:hover{
  color: darkgray;
  text-decoration: none;
}

.border-img {
  border: 4px solid grey;
}