@font-face {
  font-family: 'Radiate Sans';
  src: url(./assets/fonts/Radiate\ Sans\ Regular.ttf);
}

@font-face {
  font-family: 'Radiate Sans';
  font-weight: bold;
  src: url(./assets//fonts/Radiate\ Sans\ Bold.ttf);
}

@font-face {
  font-family: 'Radiate Sans';
  font-weight: lighter;
  src: url(./assets/fonts/Radiate\ Sans\ Light.ttf);
}

@font-face {
  font-family: 'Radiate Sans';
  font-weight: lighter;
  font-style: italic;
  src: url(./assets/fonts/Radiate\ Sans\ Light\ Italic.ttf);
}

html,
body {
  font-family: 'Radiate Sans', Arial, Helvetica, sans-serif;
}

nav a {
  color: grey;
}

nav a:hover{
  color: darkgray;
  text-decoration: none;
}

.border-img {
  border: 4px solid grey;
}

.card * {
  margin: 0;
}

p {
  font-size: 14px;
}

.row a {
  text-decoration: none;
  color: black;
  transition: all .2s ease-in-out;
}
.row a:hover {
  transform: scale(1.1);
}
.card:hover {
  box-shadow: 0 1rem 2rem rgba(0,0,0,.35) !important;
  transition: all .4s ease-in-out;
}
.border-card{
  border: solid 2px rgb(114, 114, 114);
}
.border-top-card{
  border-top: solid 2px rgb(114, 114, 114);
}
a img{
  object-fit: cover;
}
.form-control{
  background-color: #f8f9f8;
  border-radius: 0 ;
}
.bg-black{
  background-color: #000;
}